<!--<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; <background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">-->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">

  <!-- Mask -->
  <span STYLE="position:absolute; top:0px; left:0px; width:2000px; height:420px; background-image: url(./assets/img/brand/aguacate-hass.jpg"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row m-0 bg primary justify-content-center align-items-center vh-100">
    <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0">
      <div class="card bg-secundary card-profile-center shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="./assets/img/brand/usuario.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header-center text-center border-0 pt-8 pt-md-5 pb-0 pb-md-5">
          <div class="d-flex justify-content-between">

          </div>
        </div>
        <div class="card-body pt-0 pt-md-5">
          <div class="row">
            <div class="col">
              <div class="card-profile-center d-flex justify-content-center mt-md-5">
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3 class="display-4 text-black">Usuario Comerciante</h3>
            <div>
              <i class="ni education_hat mr-2"></i>Nombre
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
              <mat-cell *matCellDef="let row">Nombre estático</mat-cell>
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>Correo
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>Fecha de registro
            </div>
            <hr class="my-4" />
            <p>Como Usuario Comerciante cuenta con los siguientes permisos: </p>
            <mat-cell *masCellDef="let row; let i=index;"></mat-cell>
            <!--<button type="button" class="btn btn-primary" (click)="startEdit(i,row.Nombre)">Editar perfil</button>-->
            <button type="button" class="btn btn-primary">Editar perfil</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>